
body{
    background-image: url(imgen/order-food-table-empty-background.jpg);
    background-size: 100%;
}
.img-fluid {
    width: 400px;
    height: auto;
    padding:15px;
}
.Título{
    padding:15 ;
}px
.mb-3 {
    margin-bottom: 1rem!important;
    width: 400px;
}
.container-jump{
display: flex;
flex-wrap:wrap;
justify-content: space-around;
padding: 15px;
}
.mb-5 {
    margin-bottom: 3rem!important;
    width: 300px;
}
.menu-imagen2{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 15px;
}
.container-cards{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 15px;    
}
.container-footer{
    background: #1011135d;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.container-catalogo{
    padding: 15px;
}
.card1 {
    background: #682e139d;
}
.card2{
    background: #682e139d;
}
.card3{
    background: #682e139d;
}
.card4{
    background: #682e139d;
}
@media screen and (max-width:400px) {
    .img-fluid {
        width: 200px;
    } 
    .mb-3 {
        margin-bottom: 1rem!important;
        width: 200px;
    }
}
