.bg-light{
    background-color: rgb(0, 255, 255);
}
.container-cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.container-jump{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* tablet */
@media (min-width:991px) and (max-width:1324){

    .container-imagen2{
        width: 300px; height: 300px;
    }
    .col-12 {
        width: 20%;
        display: flex;
        justify-content: center;
    }
}
.container-catalogo{
    display: flex;
    justify-content: right;
    padding: 40px;
}
.container-footer{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.63);
}
.container-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
body{
    background-image: url(imgen/order-food-table-empty-background.jpg);
    background-size: 100%;
}

.card1{
    background-color: rgba(116, 62, 38, 0.623);
}
.card2{
    background-color: rgba(116, 62, 38, 0.623);
}
.card3{
    background-color: rgba(116, 62, 38, 0.623);
}
.card4{
    background-color: rgba(116, 62, 38, 0.623);
}

.container-footer2{
    background-size: 400px;
}


element.style {
    display: flex;
    justify-content: center;
}

.container-imagen2{
 height: 200px;
    
    
}
.container-footer{
    width: 100%;
}
}


.Título {
    padding: 15px;
}

.col-12 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-floating {
    position: relative;
    padding: 15px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 15px;
}
.h2, h2 {
    font-size: calc(1.325rem + .9vw);
    padding: 15px;
}